// COLORS
$whitelilac: #edeef7;
$ebony: #0f162d;
$gullgray: #6f8cb2;
$bluebayoux: #586582;
$mirage: #1b2133;
$white: #ffffff;
$gray: #a8b0c3;
$blue: #3247fd;
$codegray:#df5;
$cadetblue:#df5;

//SIGNS
$heart-o: '\f08a';
$angle-down: "\f0d7";
$angle-left:'\f104';
$headphones: '\f025';
$book: '\f02d';
$eye: '\f06e';
$volumeup: '\f028';
$html5: '\f13b';


//GRID
$grid-width: 1040px;
$gutter-vertical: 20px;
$gutter-horizontal: 20px;